<p class="instructions">
  All supported image, audio and video formats will be listed below.
</p>
<div id="formats">
  <h3>Image Formats</h3>
  <ul id="image-formats" class="format-list">
    <li>none</li>
  </ul>
  <h3>Video Formats</h3>
  <ul id="video-formats" class="format-list">
    <li>none</li>
  </ul>
  <h3>Audio Formats</h3>
  <ul id="audio-formats" class="format-list">
    <li>none</li>
  </ul>
</div>