<p class="instructions">
  Type into the field below. Your contacts will be filtered by your input and
  shown below.
</p>
<p class="failure">
  The Contacts API doesn't seem to be supported on your system.
</p>
<div id="contacts">
  <form action="#" method="get" accept-charset="utf-8">
    <input type="text" name="filter" id="filter" />
  </form>
  <ul>
  </ul>
</div>
<p class="annotations">
  There are a lot of contact information fields to be queried, but I didn't
  think checking for them all would make much sense.
</p>