<p class="instructions">
  If they are available, all registered permissions (W3C Feature Permissions)
  will be listed below.
</p>
<p class="failure">
  Permissions are not available
</p>
<table id="permissions">
  <thead>
    <tr>
      <th>Feature</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>