<p class="instructions">
  Here you can send messages to the server which will then be transmitted back
  to you. This is realized via a con
</p>
<form action="#" method="get" accept-charset="utf-8">
  
  <input type="text" name="message" id="message" />
  <input type="button" name="send" id="send" value="Send" />
  <input type="button" name="close" id="close" value="Close Connection">
  
</form>
<pre id="communications">Message Log
===========</pre>