<p class="instructions">
  Position data will be shown below after you click the button.
</p>
<div id="current_position">
  <pre class="result"></pre>
  <pre class="error"></pre>
</div>
<p>
  Locate using:
</p>
<div id="normal-accuracy" class="pseudo-button">
  Normal Accuracy
</div>
<div id="high-accuracy" class="pseudo-button">
  High Accuracy
</div>
<div id="cached-position" class="pseudo-button">
  Cached Position
</div>
<div id="fresh-position" class="pseudo-button">
  Fresh Position
</div>