<p class="instructions">
  After you have visited this page, turn off your device's communications and
  reload the page. It should still be working.
</p>
<p class="success">
  Online
</p>
<p class="failure">
  Offline
</p>