<p class="instructions">
  If instructions are available, you should be told so below.
</p>
<p class="failure">
  Notifications do not exist.
</p>
<div id="notification">
  <div id="permissions">
    Notifications are <span></span>
  </div>
  <input type="button" name="notify" id="notify" value="Notify" />
  <pre id="log">Log
  ===</pre>
</div>