<p class="instructions">
</p>
<p class="success">
  WebKit Notifications are available
</p>
<p class="failure">
  WebKit Notifications are not available
</p>
<div id="permissions">
  Permissions for Notifications:
  <span></span>
  <input type="button" name="request" id="request" value="Request permission" />
</div>
<div>
  <input type="button" name="generate" id="generate" value="Generate notification" />
  <input type="button" name="generate-html" id="generate-html" value="Generate HTML notification" />
</div>
<pre id="log">Log
===</pre>