<p class="instructions">
  Available accelerometer data will be shown below.
</p>
<div class="failure">
  No data available.
</div>
<div id="result-deviceorientation" class="result">
  <p class="method">
    DeviceOrientationEvent
  </p>
  <pre class="data">Your device implements this
but never sends events.</pre>
</div>
<div id="result-devicemotion" class="result">
  <p class="method">
    DeviceMotionEvent
  </p>
  <pre class="data">Your device implements this 
but never sends events.</pre>
</div>
<div id="result-MozOrientation" class="result">
  <p class="method">
    MozOrientationEvent
  </p>
  <pre class="data"></pre>
</div>