<p class="instructions">
  If your device supports orientation, the values read should be displayed 
  below.
</p>
<div class="result">
  <p>
    Orientation: <span id="orientation-display"></span>
  </p>
</div>
<div class="failure">
  Orientation not supported.
</p>