canvas {
  width: 260px;
  height: 260px;
  border: 1px solid #333;
  margin: 0 auto;
  display: block;
}
#canvas-wrapper {
  padding: 20px 40px;
  font-style: italic;
  text-align: center;
  line-height: 150%;
}