<p class="instructions">
  WebStorage information will be shown below.
</p>
<div id="#data">
  <p>
    sessionStorage.length: <span id="sessionStorage-length"></span>
  </p>
  <p class="header">Items</p>
  <ol id="sessionStorage-items">
    <li>None</li>
  </ol>
  <div class="spacer"></div>
  <p>
    localStorage.length: <span id="localStorage-length"></span>
  </p>
  <p class="header">Items</p>
  <ol id="localStorage-items">
    <li>None</li>
  </ol>
</data>
