<p class="instructions">
  Enter text below and click the next button. The data will be preserved
  over multiple pages without sending it to the server.
</p>
<form action="session" method="get" accept-charset="utf-8">
  <textarea id="data"></textarea>
  <p>
    <input type="submit" value="Continue &rarr;">
  </p>
</form>
<p class="annotations">
  This is browser window local storage. You can go back to the test overview
  and still see your text in the box when you come here, but you can't see the
  text in a new browser tab.
</p>