<p class="instructions">
  Open this page in two different tabs. Changes to the localStorage value will
  create events on the other page.
</p>
<div id="sessionStorage">
  <p class="header">
    sessionStorage
  </p>
  <form action="#" method="get" accept-charset="utf-8">
    <input class="data text" type="text" />
    <p>
      <input type="submit" value="Continue &rarr;">
    </p>
  </form>
</div>
<div id="localStorage">
  <p class="header">
    localStorage
  </p>
  <form action="#" method="get" accept-charset="utf-8">
    <input class="data text" type="text" />
    <p>
      <input type="submit" value="Continue &rarr;">
    </p>
  </form>
</div>
<div id="storage-log">
  <p class="header">
    Log
  </p>
  <ul>
  </ul>
</div>
<p class="annotations">
  localStorage change events affect all open windows at this address, so try
  opening two tabs with this page and changing the text. You might have to
  change to a window to see its change log update.
</p>