<p class="instructions">
  The highest calculated prime will be displayed below.
</p>
<div id="indicator" class="success">
  Working...
</div>
<div id="primes">
  <p>
    Highest prime yet: <span id="highscore"></span>
  </p>
</p>
<div id="toggle-calculations" class="pseudo-button">
  Start calculations
</div>
<p class="annotations">
  After you click start and the first few low numbers have passed, your
  browser will probably slow down a bit.
</p>
