<p class="instructions">
  The highest calculated prime will be displayed below.
</p>
<div id="indicator" class="success">
  Working...
</div>
<div id="primes">
  <p>
    Highest prime yet: <span id="highscore"></span>
  </p>
</p>
<div id="toggle-calculations" class="pseudo-button">
  Start calculations
</div>
<p class="annotations">
  To be honest, this Web Worker uses intervalled calculations to make the UI
  more responsive. If you want real full-power number crunching, check out
  the “Hardcore Prime” test, but be aware that it will slow down your system
  and possibly crash your tab.
</p>
  